<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  </head>

  <body>
    <input type="text" class="message" />
    <button onclick="sendMessage()">Send ID to see feed</button>
    <h1></h1>
    <script>
      const socket = io("http://localhost:3000");
      socket.on("connect", () => {
        console.log("User connected client" + socket.id);
      });

      socket.on("messagess", (data2) => {
        console.log(data2);
      });
      
      socket.on("addpost", (data4) => {
        console.log(data4);
      });
     
    </script>
  </body>
</html>
